{% extends 'layout.html' %}


{% load static  %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'challenges/challenge.css' %}">
    <link rel="stylesheet" href="{% static 'challenges/includes/header.css' %}">
{% endblock css_files %}


{% block page_title %}
    {{ "Monthly Challenges" }} | {{ this_month|title  }} 
{% endblock page_title %}

{% block content %}
    {% include "challenges/includes/header.html" with active_page="challenge" %}

    <h1>{{ this_month|title  }} month challenge</h1>
    {% if month_challenge is not None%}
        <h2>{{ month_challenge }}</h2>
    {% else %}
        <p class="fallback">No challenges in this month yet!</p>
    {% endif %}
{% endblock content %}
